* {
  margin: 0;
  padding: 0;
  background: #000;
}

.header {
  margin-left: 15px;
  padding-bottom: 25px;
  font-size: 50px;
  font-family: 'Sarpanch', sans-serif;
}

.terminal {
  position: absolute;
  width: 90%;
  height: 100%;
  font-family: 'Share Tech', sans-serif;
  color: #00EE00;
}

.terminal-line {
  display: block;
  margin-left: 20px;
  margin-top: 6px;
  letter-spacing: 2.5px;
  font-size: 16px;
}

td, th {
/*     border: 1px solid #dddddd; */
    text-align: left;
    padding: 4px;
}